.body {
  color: #787878;
}

.ui-container {
  margin: 0 40px;
}


.bg-header {
  background-color: #fcfbfc !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
i.icon{
  cursor: pointer;
}
.sub-category > div.grid {
  padding-left: 20px;
}

.bg-header > div > div.left {
  text-transform: uppercase;
  font-weight: 600;
}

.mr-20 {
  margin-right: 20px !important;
}



.f-right {
  float: right;
}

.w-65 {
  width: 65%;
}

.pt-20 {
  padding-top: 20px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.radius-500 {
  border-radius: 500rem !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.border-none {
  border: 0 !important;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.bg-grey {
  background-color: #fcfbfc !important;
}

.main-category {
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 20px 0px;
}

.ind-item > div,
.ind-item-grid > div {
  padding: 10px !important;
  /* margin-top: -1rem; */
  margin-left: 0.5rem !important;
  margin-right: 2rem !important;
  border-radius: 0px !important;
  /* padding-left: 20px !important; */
  margin-bottom: 1rem !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

.ind-item > div:first-child {
  margin-top: -1rem !important;
}

.ind-item-grid > div {
  margin-left: 2rem !important;
  margin-bottom: 0rem !important;
  text-transform: uppercase;
}